<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- properties that will be used in the following sectors -->
	<properties>
		<property name="transactionManagerType" value="JDBC" />
		<property name="dataSourceType" value="com.zhe800.dao.impl.mybatis.engine.C3P0DataSourceFactory" />
		<property name="driver" value="com.mysql.jdbc.Driver" />
		<property name="username" value="trade_test" />
		<property name="password" value="P73wfHu4eZhmg89wq" />
		<property name="initialPoolSize" value="50" />
		<property name="maxPoolSize" value="100" />
		<property name="minPoolSize" value="50" />
		<property name="acquireIncrement" value="3" />
		<property name="maxIdleTime" value="60" />
		<property name="maxIdleTimeExcessConnections" value="2700" />
		<property name="maxConnectionAge" value="60" />
		<property name="maxStatements" value="500" />
		<property name="maxStatementsPerConnection" value="10" />
		<property name="numHelperThreads" value="5" />
		<property name="preferredTestQuery" value="select 1" />
		<property name="" value="" />
	</properties>

	<!-- settings for all connections -->
	<settings>
		<setting name="cacheEnabled" value="false" />
	</settings>

	<!-- database configuration -->
	<environments default="db0">
		<environment id="db0">
			<transactionManager type="${transactionManagerType}" />
			<dataSource type="${dataSourceType}">
				<property name = "driverClass" value = "${driver}" />
				<property name = "jdbcUrl" value = "jdbc:mysql://192.168.10.100:3306/trade?autoReconnect=true&amp;useUnicode=true&amp;characterEncoding=utf8&amp;zeroDateTimeBehavior=convertToNull"/>
				<property name = "user" value = "${username}" />
				<property name = "password" value = "${password}" />
				<property name = "initialPoolSize" value = "${initialPoolSize}" />
				<property name = "maxPoolSize" value = "${maxPoolSize}" />
				<property name = "minPoolSize" value = "${minPoolSize}" />
				<property name = "acquireIncrement" value = "${acquireIncrement}" />
				<property name = "maxIdleTime" value = "${maxIdleTime}" />
				<property name = "maxIdleTimeExcessConnections" value = "${maxIdleTimeExcessConnections}" />
				<property name = "maxConnectionAge" value = "${maxConnectionAge}" />
				<property name = "maxStatements" value = "${maxStatements}" />
				<property name = "maxStatementsPerConnection" value = "${maxStatementsPerConnection}" />
				<property name = "numHelperThreads" value = "${numHelperThreads}" />
				<property name = "preferredTestQuery" value = "${preferredTestQuery}" />
			</dataSource>
		</environment>

		<environment id="db1">
			<transactionManager type="${transactionManagerType}" />
			<dataSource type="${dataSourceType}">
				<property name = "driverClass" value = "${driver}" />
				<property name = "jdbcUrl" value = "jdbc:mysql://192.168.10.57:3306/trade?autoReconnect=true&amp;useUnicode=true&amp;characterEncoding=utf8&amp;zeroDateTimeBehavior=convertToNull"/>
				<property name = "user" value = "root" />
				<property name = "password" value = "canada" />
				<property name = "initialPoolSize" value = "${initialPoolSize}" />
				<property name = "maxPoolSize" value = "${maxPoolSize}" />
				<property name = "minPoolSize" value = "${minPoolSize}" />
				<property name = "acquireIncrement" value = "${acquireIncrement}" />
				<property name = "maxIdleTime" value = "${maxIdleTime}" />
				<property name = "maxIdleTimeExcessConnections" value = "${maxIdleTimeExcessConnections}" />
				<property name = "maxConnectionAge" value = "${maxConnectionAge}" />
				<property name = "maxStatements" value = "${maxStatements}" />
				<property name = "maxStatementsPerConnection" value = "${maxStatementsPerConnection}" />
				<property name = "numHelperThreads" value = "${numHelperThreads}" />
				<property name = "preferredTestQuery" value = "${preferredTestQuery}" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="mybatis/sqlmap/address/TbReceiverAddressMapper.xml" />
	</mappers>
</configuration>